#navbar
  %ul
    %list-style-type_none
      =link_to 'Home', products_path
    %list-style-type_none
      =link_to 'Add New', new_product_path
    %list-style-type_none
      =link_to 'Cart', '/cart'
    %list-style-type_none
      = link_to 'About Us', static_pages_about_path
